<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="invalidstyles.css">
    <title>invalid!</title>
    </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 aa">Report a bug</h1>
    <p class="lead bb">If you have trouble with our website please mail us 😃</p>
    <br>
    <button type="button" class="btn btn-dark butt"><a class="btn a" href="mailto:medvice2021@gmail.com" style="color: #fff; font-size: 20px;">Mail us</a></button>
  </div>
</div>

<style>
@media screen and (max-width: 1000px){
  .aa{
    font-size: 100px;
  }
  .bb{
    font-size: 30px;
  }
  .butt{
    padding: 15px;
  }
  .a{
    font-size: 20px;
  }

}


  </body>
</html>
