@font-face {
  font-family:ams;
  src: url(fonts/Amsterdam3.ttf);
}
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgba(0, 0, 0, 0.5);
  --bg-secondary: rgba(0, 0, 0, 0.5);
  --transition-speed: 750ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: lightgray;
}


.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}


.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width:100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  font-family: Nunito;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);

  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;

}

.nav-link i {
  width: 1rem;
  min-width: 3rem;

}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  width: 100%;
  font-family: ams;
  display: none;

}
.navbar:hover .logo{
  display: block;
  transition: var(--transition-speed);


}

.logo i {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  font-family:ams;
  font-family: ams;
  font-weight: 600;
  text-decoration: none;
  transition: var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-360deg);
}

/* Small screens */
@media only screen and (max-width: 1000px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }
  .navbar:hover .logo{
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
  .nav-link i {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {

  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;

  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo i
  {
    margin-left: 11rem;

  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.logout{
padding:0 0 14 0;
}


.img-container {
  position: relative;
  width: 110px;
  margin-top: 120px;
  margin-left: 238px;

}
.card-title{
  text-align: center;
  padding-top: 15px;
}

.img-container::after {
  content: '';
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}
.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}
.image{
    transition: all 0.5s;


}

.card:hover .icon{
    transform: scale(1.3);

}
.imagebutt {
  background-color: rgb(0,0,0,0.3);
    height: 140px;
    width: 140px;
    border-radius: 50%

}
.user-data{
    display: flex;
    translate: 0px 20px;
    padding-left: 119px;
}

.post, .followers, .following{
    height: 50px;
    padding-right: 81px;
    text-align: center;
    font-size: 18px;
}
.num{
    font-weight: bold;
    font-size: 17px;
}
.txt{
    color: #FCA311;
}
@media only screen and (max-width: 600px){

  .img-container{
    margin-left: 112px;

  }
  .user-data{
    padding: 0px;
    padding-left: 9px;
    margin-right: -46px;

  }
  .post, .followers, .following{

      padding-right: 23px;
      font-size: 20px;

  }
  .txt{
    margin-right: 12px;
  }
}
